@import '../../../variables.less';

.order-container {

  [hidden] {
    display: none !important;
  }

  background-color: @white-color;
  color: @black-color;
  display: flex;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  flex-direction: row;

  @media screen and (max-width: 780px) {
    max-height: 500px;
  }

  .form-and-submit {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .order-description {
    flex: 1;
    text-align: left;
    width: 100%;
    padding: 30px 20px 0;
    font-size: 16px;

    .next-view-wrapper {
      margin-top: 5px;
      display: flex;
      justify-content: center;

      .next-view {
        display: inline-block;
        background-color: @black-color;
        color: @white-color;
        font-size: 20px;
        line-height: 20px;
        padding: 10px 20px;
        .set-border-radius(3px);
        .set-box-shadow(0 0 4px 1px @grey-minor-color);
        cursor: pointer;
      }
    }

    .description-tittle {
      display: inline-block;
      padding-bottom: 10px;
      font-weight: @bold-font;
    }

    .prop-name-value {
      line-height: 18px;
      display: flex;
      padding-bottom: 5px;

      .prop-name {
        display: inline-block;
        padding-right: 5px;
        flex: 1;
      }

      .prop-value {
        font-weight: @bold-font;
        flex: 1;
      }
    }

    .order-conditions {
      padding-top: 30px;
      font-size: 14px;
    }
  }

  .call-promise {
    font-size: 14px;
    line-height: 18px;
    padding: 30px 40px 20px;
  }

  .group {
    @input-font-size: 20px;
    margin-bottom: 30px;
    text-align: left;

    .phone-hint {
      font-size: @input-font-size;
    }

    app-input {
      font-size: @input-font-size;
    }

    .form-label {
      display: block;
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  .submit {
    background-color: @black-color;
    color: @white-color;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 20px;
    .set-border-radius(3px);
    .set-box-shadow(0 0 4px 1px @grey-minor-color);
    cursor: pointer;

    &:hover {
      .set-box-shadow(0 0 6px 3px @grey-minor-color);
    }
  }

  .prev-view {
    display: inline-block;
    text-decoration: underline;
    margin-top: 10px;
    padding-bottom: 10px;
  }
}
