<div class="order-container">
  <div class="order-description" [hidden]="!showLeft">
    <span class="description-tittle" l10nTranslate>order.descriptionTittle</span>
    <div *ngFor="let item of properties" class="prop-name-value">
      <span class="prop-name">{{item.name}}:</span>
      <span class="prop-value">{{item.value}}</span>
    </div>
    <div class="order-conditions" l10nTranslate>order.conditions</div>
    <div class="next-view-wrapper">
      <span *ngIf="!show2Views" l10nTranslate (click)="switchShow()" class="next-view">order.next</span>
    </div>
  </div>
  <div class="form-and-submit" [hidden]="!showRight">
    <span class="call-promise" l10nTranslate>order.callPromice</span>
    <div class="form-group">
      <div class="name group">
        <span class="name-label form-label" l10nTranslate>order.enterName</span>
        <app-input class="name-input" [errorState]="!isNameValid"
                   [(value)]="user.name" [type]="'text'"></app-input>
      </div>
      <div class="phone group">
        <span class="phone-label form-label" l10nTranslate>order.enterPhone</span>
        <span class="phone-hint">+380</span>
        <app-input class="phone-input" [errorState]="!isPhoneValid"
                   [type]="'tel'" [(value)]="user.phone"></app-input>
      </div>
      <div class="email group">
        <span class="email-label form-label" l10nTranslate>order.enterEmail</span>
        <app-input class="email-input" [errorState]="!isEmailValid"
                   [(value)]="user.email" [type]="'text'"></app-input>
      </div>
    </div>
    <span class="submit" l10nTranslate (click)="onSubmit()">order.submit</span>
    <span *ngIf="!show2Views" l10nTranslate (click)="switchShow()" class="prev-view">order.previous</span>
  </div>
</div>
