@font-face {
  font-family: 'bauhausc_lightregular';
  src: url('bauhausc_light_regular-webfont.eot');
  src: url('bauhausc_light_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('bauhausc_light_regular-webfont.woff2') format('woff2'),
    url('bauhausc_light_regular-webfont.woff') format('woff'),
    url('bauhausc_light_regular-webfont.ttf') format('truetype'),
    url('bauhausc_light_regular-webfont.svg#bauhausc_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
