@import '../../../variables.less';

.widget-background {
  background-color: @backround-color;

  @media screen and (orientation:portrait) {
    img {
      width: 100%;
    }

    .menu {
      width: 100%;
      padding: 10px 0;

      .menu-item {
        border-bottom: @text-color 2px solid;

        &.selected {
          border: none;
        }
      }
    }
  }

  @media screen and (orientation:landscape) {
    @menu-width: 70px;

    .widget-container {
      display: flex;
      justify-content: center;
    }

    .image-wrapper {
      width: ~"calc(100% - 200px)";

      img {
        width: 100%;
      }
    }

    .menu {
      width: @menu-width;
      flex-direction: column;

      .menu-item {
        position: relative;

        .text {
          position: absolute;
          top: 50%;
          margin-top: -@paragraph-line-height/2;
        }
      }

      &.upper-menu .menu-item {
        border-right: @text-color 2px solid;
        text-align: right;

        .text {
          right: 5px;
        }

        &.selected {
          border: none;
        }
      }

      &.bottom-menu .menu-item {
        border-left: @text-color 2px solid;
        text-align: left;

        .text {
          left: 5px;
        }

        &.selected {
          border: none;
        }
      }
    }
  }

  .logo-header {
    color: @text-color;
    width: 100%;
    text-align: center;
    padding: 50px 0;
  }

  .menu {
    display: flex;
    justify-content: space-around;

    .menu-item {
      flex: 1 1 auto;
      text-align: center;

      &.selected {
        border-bottom: none;
      }
    }
  }
}
