<div class="widget-background">
  <p class="motto upper-motto" l10nTranslate>motto.threeStepMotto</p>
  <p class="motto bottom-motto" l10nTranslate>motto.pushAction</p>
  <div class="widget-container">
    <div class="menu upper-menu">
      <div *ngFor="let item of menuItems" class="menu-item" (click)="selectItem(item)"
           [ngClass]="{'selected': isSelected(item)}">
        <span class="text" l10nTranslate>{{item.nameKey}}</span>
      </div>
    </div>
    <div class="image-wrapper" (swipeleft)="moveToNextConfig()" (swiperight)="moveToPrevConfig()">
      <img *ngIf="imageSrc" [src]="imageSrc" />
    </div>
    <div class="menu bottom-menu">
      <div *ngFor="let item of getSelectedSubMenu()" class="menu-item" (click)="selectSubItem(item)"
           [ngClass]="{'selected': isSelected(item)}">
        <span class="text" l10nTranslate>{{item.nameKey}}</span>
      </div>
      <div class="size-case" *ngIf="selectedItem && selectedItem.nameKey === sliderConfig.nameKey">
        <div *ngIf="sliderDirection === 'horizontal'" class="slider">
          <app-slider-regular class="slider-instance"
                      [min]="sliderConfig.min"
                      [max]="sliderConfig.max"
                      [step]="sliderConfig.step"
                      [(value)]="sliderValue"></app-slider-regular>
          <span class="text">
            {{sliderValue}}
          </span>
        </div>
        <app-counter *ngIf="sliderDirection === 'vertical'"
                     [min]="sliderConfig.min"
                     [max]="sliderConfig.max"
                     [step]="sliderConfig.step"
                     [(value)]="sliderValue"></app-counter>
      </div>
    </div>
  </div>
</div>
