@import '../../../variables.less';

.widget-background {
  background-color: @backround-color;
  @slider-width: 4px;
  @slider-color: #d1d1d1;
  @slider-thumb-size: 10px;
  @menu-border: @text-color 2px solid;

  .logo-header {
    color: @text-color;
    width: 100%;
    padding: 0 0;
    display: flex;
    justify-content: center;

    span {
      display: block;
      width: 100px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

  .widget-container {
    padding: 0 0 30px 0;
  }

  @media screen and (orientation:portrait) {
    img {
      width: 100%;
    }

    .menu {
      width: 100%;
      padding: 10px 0;

      .menu-item {
        border-bottom: @menu-border;
        padding-bottom: 5px;

        &.selected {
          border: none;
        }
      }

      .slider {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 25px;

        .slider-instance {
          width: ~"calc(100% - 50px)";
          height: @slider-width;
        }

        .text {
          display: inline-block;
          text-align: right;
          width: 40px;
        }
      }
    }
  }

  @media screen and (orientation:landscape) {
    @menu-width: 70px;

    .widget-container {
      display: flex;
      justify-content: center;
    }

    .image-wrapper {
      width: 100vh;

      img {
        width: 100%;
      }
    }

    .menu {
      width: @menu-width;
      flex-direction: column;

      .menu-item {
        position: relative;

        .text {
          position: absolute;
          top: 50%;
          margin-top: -@paragraph-line-height/2;
        }
      }

      &.upper-menu .menu-item {
        border-right: @menu-border;
        text-align: right;

        .text {
          right: 10px;
        }

        &.selected {
          border: none;
        }
      }

      &.bottom-menu .menu-item {
        border-left: @menu-border;
        text-align: left;

        .text {
          left: 10px;
        }

        &.selected {
          border: none;
        }
      }
    }

    .slider {
      height: 100%;
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .slider-instance {
        width: @slider-width;
        height: ~"calc(100% - 40px)";
      }

      .text {
        display: inline-block;
        height: 40px;
        width: 40px;
        padding-top: 40px - @paragraph-line-height;
        text-align: center;
      }
    }
  }

  .menu {
    display: flex;
    justify-content: space-around;

    .menu-item {
      flex: 1 1 auto;
      text-align: center;

      &.selected {
        border-bottom: none;
      }
    }
  }
}
