<div class="widget-background">
  <p class="motto upper-motto" l10nTranslate>motto.threeStepMotto</p>
  <p class="motto bottom-motto" l10nTranslate>motto.pushAction</p>
  <div class="widget-container">
    <div class="menu upper-menu">
      <div *ngFor="let item of menuItems" class="menu-item" (click)="selectItem(item)"
           [ngClass]="{'selected': isSelected(item)}">
        <span class="text" l10nTranslate>{{item.nameKey}}</span>
      </div>
    </div>
    <div class="image-wrapper">
      <img *ngIf="imageSrc" [src]="imageSrc" />
    </div>
    <div class="menu bottom-menu">
      <div *ngFor="let item of getSelectedSubMenu()" class="menu-item" (click)="selectSubItem(item)"
           [ngClass]="{'selected': isSelected(item)}">
        <span class="text" l10nTranslate>{{item.nameKey}}</span>
      </div>
      <div *ngIf="selectedItem && selectedItem.nameKey === sliderConfig.nameKey" class="slider">
        <app-slider class="slider-instance"
                    [direction]="sliderDirection"
                    [min]="sliderConfig.min"
                    [max]="sliderConfig.max"
                    [step]="sliderConfig.step"
                    [(value)]="sliderValue"></app-slider>
        <span class="text">
          {{sliderValue}}
        </span>
      </div>
    </div>
  </div>
</div>
