@import '../../styles/common.less';

.menu {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-color: @light-accent-color;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .link {
    color: @dark-color;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;

    span,a {
      color: inherit;
      text-decoration: none;
    }
  }

  .social {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
