@import './variables.less';

body.ujin-body {
  color: @text-color;
  font-family: @font-family;
  line-height: @paragraph-line-height;
  font-size: @paragraph-font-size;
}

html, body {
  height: 100%;
  width: 100%;
}

.logo-header {
  svg {
    fill: @text-color;
  }
}
