@black-color:                 #212121;
@white-color:                 #f5f5f5;
@grey-minor-color:            #747474;
@light-gey:                   #a1a1a1;
@red-color:                   #cc1111;
@accent-color:                #ffddd1;

@font-family:                 'Roboto', sans-serif;
@bold-font:                   500;
@paragraph-line-height:       16px;
@paragraph-font-size:         14px;
@mobile-header-height:        100px;
@desktop-header-height:       130px;

.set-border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.set-box-shadow (@shadow) {
  box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
}

.set-button-style(@background-color, @color, @padding: 40px) {
  .set-border-radius(3px);
  .set-box-shadow(0 0 5px 2px @grey-minor-color);
  background-color: @background-color;
  padding: 15px @padding;
  color: @color;
  font-weight: @bold-font;
  cursor: pointer;
  display: inline-block;

  &:hover {
    .set-box-shadow(0 0 8px 3px @grey-minor-color);
  }
}
