@import '../../../variables.less';

.ujin-input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid @light-gey;
  outline: none;
  padding: 2px 0;
  .set-border-radius(0);

  &.error-state {
    border-bottom-width: 2px;
    border-bottom-color: @red-color;
    padding-bottom: 1px;
  }

  &:focus {
    border-bottom-width: 2px;
    border-bottom-color: @black-color;
    padding-bottom: 1px;
  }
}
