@import '../../../styles/common.less';

@menu-border-style: solid @white-color;
@menu-border-width: 2px;
@menu-border: @menu-border-width @menu-border-style;

@keyframes expand {
    from {
        height: 0;
    }
}

.selector-wrapper {

  .gem-container {
    .sub-menu {
      height: 0;
      overflow: hidden;
      transition: height ease 0.3s;
      animation: expand 0.3s ease;

      &.visible {
        height: 25px;
      }
    }
  }

  .menu, .sub-menu {
    width: 100%;
    border-bottom: 1px solid @grey-color;
    @padding: 10px;
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;

    .menu-item, .sub-menu-item {
      border-bottom: 0 @menu-border-style;
      padding: @padding 0;
      color: @light-accent-color;
      flex: 1;
      cursor: pointer;
      transition: border-width ease 0.3s, color ease 0.3s, padding-bottom ease 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;

      &.selected {
        border-bottom-width: @menu-border-width;
        color: @white-color;
        padding-bottom: @padding - @menu-border-width;
      }

      &:hover {
        border-bottom-width: @menu-border-width - 1px;
        color: @white-color;
        padding-bottom: @padding - @menu-border-width + 1px;
      }

      .text {
        display: inline-block;
        padding: 10px;
      }

      &.gem-menu-item {
        flex-direction: column;
        align-items: stretch;

        @media @desktop {
          flex-direction: row;
          align-items: center;
        }

        .text {
          font-size: 1rem;
          padding: 5px 10px;
          text-align: center;

          @media @desktop {
            font-size: 1.2rem;
            padding: 10px;
          }
        }

        .color-pin {
          display: inline-block;
          height: 10px;
          margin: 0 5px;
          .set-border-radius(5px);

          @media @desktop {
            width: 30px;
            height: 20px;
          }
        }
      }
    }
  }



  .sub-menu .sub-menu-item {
    @padding: 3px;
    padding: @padding 0;
    font-size: 0.9em;
    font-weight: 300;

    &.selected {
      padding-bottom: @padding - @menu-border-width;
    }

    &:hover {
      padding-bottom: @padding - @menu-border-width + 1px;
    }

    .text {
      padding: 5px;
    }
  }

  .gem-container {
  }
}
