<div class="carousel-container" *ngIf="model && images && images.length >= 3">
    <div class="images-container" (swipeleft)="swipe(1)" (swiperight)="swipe(-1)">
        <div class="side-image image-wrapper left-image">
            <img [src]="images[(currIndex - 1 + imageIndexes.length) % imageIndexes.length]" 
                 [@mainImg]="imgAnimate" (@mainImg.done)="imgAnimateDone($event, (currIndex - 1 + imageIndexes.length) % imageIndexes.length)"/>
        </div>
        <div class="main-image image-wrapper" (click)="imgClick()">
            <img [src]="images[currIndex]" 
                 [@mainImg]="imgAnimate" (@mainImg.done)="imgAnimateDone($event, currIndex)"/>
        </div>
        <div class="side-image image-wrapper right-image">
            <img [src]="images[(currIndex + 1) % imageIndexes.length]" 
                 [@mainImg]="imgAnimate" (@mainImg.done)="imgAnimateDone($event, (currIndex + 1) % imageIndexes.length)"/>
        </div>
    </div>
    <div class="arrow left-arrow" (click)="arrowClick(-1)">
        <svg-icon src="assets/images/arrow.svg"></svg-icon>
    </div>
    <div class="arrow right-arrow" (click)="arrowClick(1)">
        <svg-icon src="assets/images/arrow.svg"></svg-icon>
    </div>
</div>
