@import '../../../../common.less';

.container {

  .header {
    display: flex;
    justify-content: space-between;

    .model-state-label {
      display: inline-block;
      margin: 0 20px;
    }
  }

  .name-value {
    display: flex;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid @light-grey-color;

    .label {
      width: 200px;
    }

    .value {
      width: 250px;
    }

    .text-input, .number-input {
      .set-input-style();
    }
  }

  .button {
    .set-button-style();
    margin: 0 5px;
  }

  .splitter {
    display: flex;
    border-bottom: 1px solid @black-color;
    margin: 20px 0;
  }

  .model-config-container {
    display: flex;

    .table-container {
      overflow: auto;
    }

    .model-config-instance {
      display: flex;
      flex-wrap: wrap;
      width: auto;
      overflow: hidden;
      margin-left: 10px;

      .model-config-container {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
