<div class="all-models-wrapper">
    <div class="header-container">
        <h1 class="header">{{'forms.allModels.header'|translate}}</h1>
        <span class="ordering-container">
            <span class="label">{{'forms.allModels.sorting'|translate}}</span>
            <button class="button ascending" (click)="sortByPrice(true)">
                {{'forms.allModels.ascendingPrice'|translate}}
            </button>
            <button class="button descending" (click)="sortByPrice(false)">
                {{'forms.allModels.descendingPrice'|translate}}
            </button>
        </span>
    </div>
    <div class="cards-holder">
        <app-model-link *ngFor="let model of models" [model]="model" class="link"></app-model-link>
    </div>
</div>
