
<div class="property-value">
  <span class="label">Джерело опцій</span>
  <app-select class="value" [(model)]="optionsSource" [options]="availableSources"
              [valueProperty]="'value'" [nameProperty]="'name'"></app-select>
</div>
<div [ngSwitch]="optionsSource">
  <div class="options-wrapper" *ngSwitchCase="OptionsSource.Custom">
    <app-table [dataSource]="customOptions" [tableConfig]="customOptionsTableConfig">
    </app-table>
    <button class="add-new button" (click)="addNewCustomOption()">Додати ще один</button>
  </div>
  <div class="options-wrapper"*ngSwitchCase="OptionsSource.Metal">
    <app-select-table [sourceItems]="metals" [selectedItems]="externalSourceIds"
      (onSelectionChange)="onPropertyChanged()" [selectProperty]="'id'" [tableConfig]="metalTableOptions"></app-select-table>
  </div>
  <div class="options-wrapper" *ngSwitchCase="OptionsSource.Gemstone">
    <app-select-table [sourceItems]="gemstones" [selectedItems]="externalSourceIds"
                      (onSelectionChange)="onPropertyChanged()" [selectProperty]="'id'"
                      [tableConfig]="gemstoneTableOptions"></app-select-table>
  </div>
</div>
