<app-mobile-header class="fixed-header"></app-mobile-header>
<app-fixed-call-button [size]="'50px'" [popupWidth]="'100%'"></app-fixed-call-button>
<app-mobile-widget></app-mobile-widget>
<app-ring-info [popupWidth]="'100%'"></app-ring-info>
<app-image-text [startTextKey]="'imageText.text1'" [images]="['ring_image4.jpg', 'ring_image1.jpg', 'ring_image6.jpg']"></app-image-text>
<app-image-text [startTextKey]="'imageText.text2'" [images]="['ring_image5.jpg', 'ring_image3.jpg', 'ring_image8.jpg']"></app-image-text>
<app-image-text [startTextKey]="'imageText.text3'" [images]="['ring_image2.jpg', 'ring_image7.jpg']"></app-image-text>
<app-adventages></app-adventages>
<app-footer></app-footer>
