<app-mobile-header class="fixed-header"></app-mobile-header>
<app-fixed-call-button [size]="'50px'" [popupWidth]="'100%'"></app-fixed-call-button>
<app-mobile-widget></app-mobile-widget>
<app-ring-info [popupWidth]="'100%'"></app-ring-info>
<app-image-text class="scroll-point scroll-point1" [startTextKey]="'imageText.text1'"
                [images]="['ring_image4_sm.jpg', 'ring_image1_sm.jpg', 'ring_image6_sm.jpg']"></app-image-text>
<app-image-text class="scroll-point scroll-point2" [startTextKey]="'imageText.text2'"
                [images]="['ring_image5_sm.jpg', 'ring_image3_sm.jpg', 'ring_image8_sm.jpg']"></app-image-text>
<app-image-text class="scroll-point scroll-point3" [startTextKey]="'imageText.text3'"
                [images]="['ring_image2_sm.jpg', 'ring_image7_sm.jpg']"></app-image-text>
<app-adventages class="scroll-point scroll-point4"></app-adventages>
<app-footer class="scroll-point scroll-point5"></app-footer>
