<div class="adven-wrapper">
  <div class="adven-header" l10nTranslate>adventages.header</div>
  <div class="adven-container">
    <div *ngFor="let adventage of adventages" class="adventage">
      <div class="order-holder">
        <span class="order-circle">{{adventage.order}}</span>
      </div>
      <div class="text">
        <span class="adven-title" l10nTranslate>{{adventage.title}}</span>
        <span class="adven-description" l10nTranslate>{{adventage.description}}</span>
      </div>
    </div>
  </div>
</div>
