@import '../../../variables.less';

.widget-background {
  @menu-border-style: solid @white-color;
  @menu-border-width: 2px;
  @menu-border: @menu-border-width @menu-border-style;

  padding-top: @desktop-header-height;
  background-color: @black-color;

  .widget-and-description {
    padding: 40px 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;

    .widget-description {
      min-width: 300px;
      max-width: 400px;
      margin: 0 30px;
      font-size: 16px;
      line-height: 22px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .motto {
        display: block;
        font-weight: 900;
      }
    }
  }

  .gemstone-case {
    display: flex;
    align-items: center;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height ease 300ms;
    border-bottom: 0 solid @grey-minor-color;

    &.visible {
      height: 40px;
      border-bottom-width: 1px;
    }

    .gem-label {
      flex: 1;
      color: @grey-minor-color;
      display: inline-block;
      height: 100%;
      transition: border-width ease 0.3s, color ease 0.3s, padding-bottom ease 0.3s;
      padding-top: 17px;
      font-weight: 900;
      cursor: pointer;

      &:hover {
        color: @light-gey;
      }

      &.selected {
        color: @white-color;
        border-bottom: 2px @menu-border-style;
      }
    }

    .gem-info {
      color: @white-color;
      display: inline-block;
      padding-top: 17px;
      height: 100%;
      width: 30px;
      cursor: pointer;
      border-left: 1px solid @grey-minor-color;
      transition: color ease 0.3s;

      &:hover {
        color: @light-gey;
      }
    }
  }

  .widget-container {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;

    .menu .menu-item {
      cursor: pointer;
      transition: color ease 200ms, border-color ease 200ms;
      font-weight: 900;

      &:hover {
        color: @light-gey;
        border-color: @light-gey;
      }
    }
  }

  app-ring-info {
    width: 100%;
  }

  .widget-menu-holder {
    display: flex;

    .image-wrapper {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        max-width: 670px;
        min-width: 400px;
      }
    }

    .right-menu {
      display: inline-flex;
      flex-direction: column;
      width: 80px;
      border-right: 1px solid @grey-minor-color;

      .menu-item {
        flex: 1;
        border-right: 0 @menu-border-style;
        position: relative;
        color: @grey-minor-color;
        transition: border-width ease 0.3s, color ease 0.3s, padding-bottom ease 0.3s;

        .text {
          position: absolute;
          top: 50%;
          right: 10px;
          margin-top: -@paragraph-line-height/2;
        }

        &.selected {
          border-right-width: @menu-border-width;
          color: @white-color;
        }
      }
    }
  }

  .bottom-menu {
    display: inline-flex;
    height: 30px;
    padding-right: 40px;
    border-bottom: 1px solid @grey-minor-color;

    .menu-item {
      flex: 1;
      padding-bottom: 10px;
      border-bottom: 0 @menu-border-style;
      color: @grey-minor-color;
      transition: border-width ease 0.3s, color ease 0.3s, padding-bottom ease 0.3s;
      text-align: center;

      &.selected {
        border-bottom-width: @menu-border-width;
        color: @white-color;
      }
    }
  }

  .size-case {
    width: 100%;

    .slider {
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 25px;

      .slider-instance {
        width: ~"calc(100% - 50px)";
      }

      .text {
        display: inline-block;
        text-align: right;
        width: 40px;
      }
    }
  }
}
