<div class="widget-background">
  <div class="widget-and-description">

    <div class="widget-description" l10nTranslate>
      content.intro
      <span class="motto" l10nTranslate>motto.threeStepMotto</span>
      <app-price [popupWidth]="'450px'"></app-price>
    </div>

    <div class="widget-container">
      <div class="widget-menu-holder">
        <div class="image-wrapper">
          <img *ngIf="imageSrc" [src]="imageSrc" [@widgetImg]="imgAnimate"
               (@widgetImg.done)="imgAnimateDone($event)" (load)="onImageLoded()" />
        </div>
        <div class="menu right-menu">
          <div *ngFor="let item of menuItems" class="menu-item" (click)="selectItem(item)"
               [ngClass]="{'selected': isSelected(item)}">
            <span class="text" l10nTranslate>{{item.nameKey}}</span>
          </div>
        </div>
      </div>
      <div class="menu bottom-menu">
        <div *ngFor="let item of getSelectedSubMenu()" class="menu-item" (click)="selectSubItem(item)"
             [ngClass]="{'selected': isSelected(item)}">
          <span class="text" l10nTranslate>{{item.nameKey}}</span>
        </div>
        <div class="size-case" *ngIf="selectedItem && selectedItem.nameKey === sliderConfig.nameKey">
          <div class="slider">
            <app-slider-regular class="slider-instance"
                                [min]="sliderConfig.min"
                                [max]="sliderConfig.max"
                                [step]="sliderConfig.step"
                                [(value)]="sliderValue"></app-slider-regular>
            <span class="text">
              {{sliderValue}}
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
