<div class="widget-background">
  <div class="widget-and-description">

    <div class="widget-description" l10nTranslate>
      content.intro
      <span class="motto" l10nTranslate>motto.threeStepMotto</span>
      <app-price [popupWidth]="'450px'"></app-price>
    </div>

    <div class="widget-container">
      <div class="widget-menu-holder">
        <div class="image-wrapper">
          <img *ngIf="imageSrc" [src]="imageSrc" [@widgetImg]="imgAnimate"
               (@widgetImg.done)="imgAnimateDone($event)" (load)="onImageLoded()" />
        </div>
        <div class="menu right-menu category-menu">
          <div *ngFor="let item of menuItems" class="menu-item" (click)="selectItem(item)"
               [ngClass]="{'selected': isSelected(item)}" id="{{item.nameKey}}">
            <span class="text" l10nTranslate>{{item.nameKey}}</span>
          </div>
        </div>
      </div>
      <div class="menu bottom-menu config-menu">
        <div *ngFor="let item of getSelectedSubMenu()" class="menu-item" (click)="selectSubItem(item)"
             [ngClass]="{'selected': isSelected(item)}" id="{{item.nameKey}}">
          <span class="text" l10nTranslate>{{item.nameKey}}</span>
        </div>
        <div class="size-case" *ngIf="selectedItem && selectedItem.nameKey === sliderConfig.nameKey">
          <div class="slider">
            <app-slider-regular class="slider-instance"
                                [min]="sliderConfig.min"
                                [max]="sliderConfig.max"
                                [step]="sliderConfig.step"
                                [(value)]="sliderValue"></app-slider-regular>
            <span class="text">
              {{sliderValue}}
            </span>
          </div>
        </div>
      </div>
      <div class="gemstone-case" [ngClass]="{ 'visible': selectedItem && selectedItem.nameKey === gemstoneName}">
        <span class="gem-label genuine" l10nTranslate [ngClass]="{'selected': !useZirconium}" (click)="useZirconium=false">
          widget.gemstone.genuine
        </span>
        <span class="gem-label zirconium" l10nTranslate [ngClass]="{'selected': useZirconium}" (click)="useZirconium=true">
          widget.gemstone.zirconium
        </span>
        <span class="gem-info">?</span>
      </div>
    </div>

  </div>
</div>
