<div class="footer-wrapper">
  <div class="description-and-discount">
    <div class="description">
      <span l10nTranslate class="description-content">
        footer.description
      </span>
    </div>
    <div class="discount">
      <div class="discount-description" l10nTranslate [innerHTML]="'footer.discountDescription'"></div>
      <a [href]="discountHref" class="discount-action" l10nTranslate>footer.discountAction</a>
    </div>
  </div>
  <div class="contacts" id="contacts">
    <div class="contacts-wrapper">
      <span class="social-networks" l10nTranslate>footer.social</span>
      <app-social-share [purpose]="'simpleLink'" [direction]="'horizontal'" [size]="'40px'"></app-social-share>
      <div class="contact-prop">
        <span class="contact-label" l10nTranslate>footer.contactPhone</span>
        <span class="phones-containers">
          <a *ngFor="let phone of phones" class="contact-href" [href]="phoneHref(phone)">{{phone}}</a>
        </span>
      </div>
      <div class="contact-prop email-prop">
        <span class="contact-label" l10nTranslate>footer.email</span>
        <a class="contact-href" [href]="emailHref">{{email}}</a>
      </div>
    </div>
  </div>
</div>
