<a class="model-wrapper" [routerLink]='[link]' [queryParams]="{sku: model.sku}" (click)="modelClick()">
    <div class="label-wrapper" *ngIf="label == ProductLabel.TopSells">
        <div class="label red">
            {{'forms.allModels.topSales'|translate}}
        </div>
    </div>
    <div class="label-wrapper" *ngIf="label == ProductLabel.NewProduct">
        <div class="label yellow">
            {{'forms.allModels.newProduct'|translate}}
        </div>
    </div>
    <div class="image-holder">
        <img [src]="imgLink" class="image" />
    </div>
    <span class="caption">{{translatedName}}</span>
    <span class="info-container">
        <span class="price">{{model.price}}{{' '}}{{'measure.uah'|translate}}</span>
        <span class="description">{{translatedDescription}}</span>
    </span>
</a>
