@import '../../styles/common.less';

.model-wrapper {
    background-color: @white-color;
    .set-border-radius(3px);
    .set-box-shadow(@grey-color);
    padding: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: box-shadow ease 0.3s;
    text-decoration: none;

    .label-wrapper {
        @size: 130px;
        position: absolute;
        right: 0;
        top: 0;
        height: @size;
        width: @size;
        display: flex;
        align-items: center;
        overflow: hidden;

        .label {
            padding: 5px;
            width: @size;
            transform: translate(28px, -28px) rotate(45deg);
            text-align: center;

            &.red {
                background-color: @red-button-color;
                color: @white-color;
            }

            &.yellow {
                background-color: @yellow-color;
            }
        }
    }

    .image-holder {
        width: 100%;
        height: auto;
    }

    .image {
        .set-border-radius(3px);
        width: 100%;
        margin-bottom: 20px;

        @media @desktop {
            width: 280px;
        }
    }

    .caption {
        font-size: 1.3rem;
        font-weight: 700;
        color: @grey-color;
    }

    .info-container {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
    }

    .price {
        font-size: 1.1rem;
        color: @dark-color;
        margin-right: 10px;
    }

    .description {
        font-size: 1.1rem;
        color: @grey-color;
        font-weight: 300;
    }

    &:hover {
        .set-box-shadow(@grey-color, 0 0 7px 4px);
    }
}
