
<a class="navbar-brand" [routerLink]='["/"]'>Ujin.Admin</a>
<div class="content-menu">
  <a class="nav-link" [routerLinkActive]='["link-active"]'
      [routerLink]='["/jewelry-models"]'>Моделі виробів</a>
  <a class="nav-link" [routerLinkActive]='["link-active"]'
      [routerLink]='["/metal-edit"]'>Метали</a>
  <a class="nav-link" [routerLinkActive]='["link-active"]'
      [routerLink]='["/gemstone"]'>Камінці</a>
  <a class="nav-link" [routerLinkActive]='["link-active"]'
      [routerLink]='["/color-edit"]'>Кольори</a>
</div>
