@import '../../../variables.less';

.compnent-holder {
  width: 100%;
  background-color: @black-color;
  color: @white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  height: 75px;

  .info-holder {
    display: inline-flex;
    width: 250px;
    flex-direction: column;
    align-items: stretch;
    line-height: 18px;

    .property {
      display: flex;

      .info-label {
        width: 130px;
      }

      .measure-part {
        padding-left: 5px;
      }

      .number-part {
        font-weight: 900;
      }
    }
  }

  .order-button {
    display: inline-block;
    .set-border-radius(3px);
    .set-box-shadow(0 0 2px 1px @white-color);
    background-color: @light-gey;
    padding: 10px 20px;
    color: @black-color;
    cursor: pointer;

    &:hover {
      .set-box-shadow(0 0 3px 2px @white-color);
    }
  }
}
