<div class="compnent-holder">
  <div class="info-holder">
    <div class="ringInfo" *ngIf="ringInfo != null">
      <div class="property price">
        <span class="info-label" l10nTranslate>
          ringInfo.priceLabel
        </span>
        <span class="number-part">
          {{ringInfo.price}}
        </span>
        <span class="measure-part" l10nTranslate>
          ringInfo.currency.uah
        </span>
      </div>
      <div class="property metal">
        <span class="info-label" l10nTranslate>
          ringInfo.metalWeightLabel
        </span>
        <span class="number-part">
          {{ringInfo.metalWeight}}
        </span>
        <span class="measure-part" l10nTranslate>
          ringInfo.measure.grams
        </span>
      </div>
      <div class="property gemstone-size">
        <span class="info-label" l10nTranslate>
          ringInfo.gemstoneSizeLabel
        </span>
        <span class="number-part">
          {{ringInfo.gemstoneLengthMm}} X {{ringInfo.gemstoneWidthMm}}
        </span>
        <span class="measure-part" l10nTranslate>
          ringInfo.measure.milimeters
        </span>
      </div>
      <div class="property gemstone-weight" *ngIf="ringInfo.gemstoneWeight != null">
        <span class="info-label" l10nTranslate>
          ringInfo.gemstoneWeightLabel
        </span>
        <span class="number-part">
          {{ringInfo.gemstoneWeight}}
        </span>
        <span class="measure-part" l10nTranslate>
          ringInfo.measure.carats
        </span>
      </div>
    </div>
    <span *ngIf="ringInfo == null" class="loading-state" l10nTranslate>
      ringInfo.loading
    </span>
  </div>
  <span class="order-button" l10nTranslate (click)="openOrderDialog()">ringInfo.placeOrder</span>
</div>
