<div class="container">
  <div class="prop-value">
    <span class="label">Модель</span>
    <select class="value" [(ngModel)]="selectedJewelryModel">
      <option *ngFor="let option of jewelryModels" [ngValue]="option">
        {{option.nameKey | translate}}
      </option>
    </select>
  </div>
  <div *ngIf="selectedJewelryModel">
    <div *ngFor="let config of selectedJewelryModel.configurations" class="prop-value">
      <span class="label">{{config.nameKey | translate}}</span>
      <div [ngSwitch]="config.configurationType">
        <input class="value" *ngSwitchCase="JewelryModelConfigType.Number" type="number" [(ngModel)]="config.value" />
        <select class="value" *ngSwitchCase="JewelryModelConfigType.Options" [(ngModel)]="config.value">
          <option *ngFor="let option of config.source" [value]="option.value">
            {{option.name | translate}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <button class="button" (click)="calcPrice()">Завантажити вартість</button>
  <h2 *ngIf="price">Ціна: {{price ? price : 'Завантажується...'}} грн</h2>
</div>
