<div [ngSwitch]="configuration.optionsSource" class="selector-wrapper">
    <div *ngSwitchCase="OptionsSource.Custom" class="menu">
        <div *ngFor="let item of configuration.customOptions" class="menu-item" 
             (click)="selectItem(item.identifier)"
             [ngClass]="{'selected': isSelected(item)}" id="{{item.nameKey}}">
            <span class="text">{{item.nameKey|translate}}</span>
        </div>
    </div>
    <div *ngSwitchCase="OptionsSource.Metal" class="menu">
        <div *ngFor="let item of configuration.metalSource" class="menu-item"
             (click)="selectItem(item.identifier)"
             [ngClass]="{'selected': isSelected(item)}" id="{{item.nameKey}}">
            <span class="text">{{item.nameKey|translate}}</span>
        </div>
    </div>
    <div *ngSwitchCase="OptionsSource.Gemstone" class="gem-container">
        <div class="menu">
            <div *ngFor="let item of gemstones" class="menu-item"
                 (click)="selectGemClass(item)"
                 [ngClass]="{'selected': isSelected(item)}" id="{{item.nameKey}}">
                <span class="text">{{item.nameKey|translate}}</span>
            </div>
        </div>
        <div [ngClass]="{'visible': selectedNode.children.length > 1}" class="sub-menu" #submenu>
            <div *ngFor="let item of selectedNode.children"
                 class="sub-menu-item" (click)="selectGem(item)"
                 [ngClass]="{'selected': isSelected(item)}" id="{{item.nameKey}}">
                <span class="text">{{item.gemstoneSource.nameKey|translate}}</span>
            </div>
        </div>
    </div>
</div>