<div class="header">
  <div class="header-part">
    <label (click)="switchMenu();openedItemClick($event)" [ngClass]="{'is-active': menuOpened}"
            class="hamburger hamburger--slider">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </label>
    <svg-icon src="/assets/images/ujin_logo.svg" class="logo-header"></svg-icon>
    <div class="right-menu-holder">
        <a class="cart-item menu-item" [routerLink]='[cartLink]'
           (click)="cartClick();openedItemClick($event)">
            <svg-icon class="svg-holder" src="/assets/images/cart.svg"></svg-icon>
            <span class="catalog-text">{{'forms.navMenu.cart'|translate}}</span>
        </a>
        <a class="catalog-item menu-item" [routerLink]='[catalogLink]'
           (click)="catalogClick();openedItemClick($event)">
            <svg-icon class="svg-holder" src="/assets/images/catalog.svg"></svg-icon>
            <span class="catalog-text">{{'forms.navMenu.catalog'|translate}}</span>
        </a>
        <span class="contacts-item menu-item mobile-hide">
            <span (click)="goToContacts()">{{'forms.header.contacts'|translate}}</span>
        </span>
    </div>
  </div>
</div>
<app-menu class="nav-menu" (menuCloseActionHappened)="switchMenu()" (click)="openedItemClick($event)"
          [ngClass]="{'opened': menuOpened, 'closed': !menuOpened}"></app-menu>
