<div class="container">
  <div class="collection-holder">
    <div *ngFor="let gemSource of gemSources" class="gem-source-item">
      <span class="label">Id: {{gemSource.id}}; Ключ назви: </span>
      <input class="name-input" [(ngModel)]="gemSource.nameKey" type="text" placeholder="Походження каменю (натуральний, вироблений, ...)" />
      <button class="delete button" *ngIf="gemSource.id < 0" (click)="deleteItem(gemSource)">
      Видалити
      </button>
    </div>
  </div>
  <button class="add-new button" (click)="addNew()">Додати походження</button>
  <button class="save button" (click)="saveChanges()">Зберегти зміни</button>
</div>
