<div class="header-menu">
  <a class="nav-link" [routerLinkActive]='["link-active"]'
     [routerLink]='["./gemstone"]'>
    Опис каменя
  </a>
  <a class="nav-link" [routerLinkActive]='["link-active"]'
     [routerLink]='["./gem-class"]'>
    Тип каменя
  </a>
  <a class="nav-link" [routerLinkActive]='["link-active"]'
     [routerLink]='["./gem-cut"]'>
    Ограновування каменя
  </a>
  <a class="nav-link" [routerLinkActive]='["link-active"]'
     [routerLink]='["./gem-source"]'>
    Походження каменя
  </a>
</div>
<router-outlet></router-outlet>
